.wrapper {
    display: flex;
    flex-direction: column;

}
.card_wrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

.dashboard_input {
    display: flex;
    justify-content: space-around;
}
.tasks {
    display: flex;

}
